<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">

    <title>Project Tracker</title>
</head>

<body>
    <h1>Project Tracker</h1>

    <div id="task-list">
        <!-- Tasks will be loaded here -->
        <div class="column" id="to_do">To Do</div>
        <div class="column" id="doing">Doing</div>
        <div class="column" id="done">Done</div>
    </div>

    <!--
    Create Task Button
    -->
    <button id="floating-create-btn" class="floating-btn" onclick="createTask()">
        <span>+</span>
        Create Task
    </button>

    <!--
    Create Task Prompt Modal
    -->
    <div id="createTaskPrompt" class="prompt-overlay" style="display:none;">
        <div class="prompt-box">
            <p id="prompt-message"></p>
            <input id="prompt-input" type="text" autocomplete="off" />
            <div class="prompt-buttons">
                <button id="prompt-ok" class="ok-btn">OK</button>
                <button id="prompt-cancel" class="cancel-btn">Cancel</button>
            </div>
        </div>
    </div>

    <script src="{{ url_for('static', filename='js/index.js') }}"></script>

</body>

</html>